<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>КУРСОВОЙ ПРОЕКТ</title>
    <link rel="stylesheet" th:href="@{/styles/style_main.css}"/>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="\static\styles\style_main.css"
          th:href="@{/styles/style_main.css}">
</head>
<body>
<div class="section">
    <div class="header">
        <h1>
            <span th:text="${user.name}">thymeleaf</span> <span th:text="${user.lastname}"></span>
        </h1>
    </div>
    <div class="contacts">
        <img th:if="${userImage}" th:src="'data:image/png;base64,' + ${userImage}"
             alt="User Image"
             style="width: 300px">
    </div>
    <div class="contacts">
        <span th:text="${user.username}">Никнейм</span>
    </div>
    <div class="contacts">
        <span th:text="${user.phoneNumber}">Номер телефона </span>
    </div>
    <div class="contacts">
        <span th:text="${user.email}"> Почта </span>
    </div>
    <div class="contacts">
        Баланс:
        <span th:text="${user.wallet.balance}"></span>
    </div>
    <form th:action="@{/home/image}" method="post" enctype="multipart/form-data">
        <input type="file" name="file" class="button"/>
        <button type="submit" class="button">Upload</button>
    </form>
    <form th:action="@{/home/edit}" class="find_users">
        <button class="button">Изменить</button>
    </form>
    <form th:action="@{/bets}" class="find_users">
        <button class="button">Ставки</button>
    </form>
    <form th:action="@{/logout}" method="post" class="sign_out">
        <input type="submit" value="Выйти" class="button"/>
    </form>

</div>
</body>
</html>